@font-face {
    font-family: 'Calibre Regular';
    src: url("../assets/fonts/Calibre-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Calibre Bold';
    src: url("../assets/fonts/Calibre-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Calibre medium';
    src: url("../assets/fonts/Calibre-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Mathanifo Script';
    src: url("../assets/fonts/Mathanifo Script.ttf") format('truetype');
}

@font-face {
    font-family: 'Heebo Regular';
    src: url("../assets/fonts/Heebo-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Heebo Medium';
    src: url("../assets/fonts/Heebo-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Heebo Bold';
    src: url("../assets/fonts/Heebo-Bold.ttf") format('truetype');
}


:root{
    --bg_light_primary: #f9f9f9;
    --bg_dark_primary: #27323f;
    --bg_light_secondary: #ede6dc;
    --bg_dark_secondary: #a5a5a5;
    --text_light_primary: #27323f;
    --text_dark_primary: #ededed;
    --text_secondary: #d69603;
    --higlight: #002a5c;
    --success_color: #ccff99;
    --error_color: #ff6698;
    --background_gradient_light: radial-gradient(circle,80vw 80vh at 50% 50%,#f9f9f9 0%,#f9f9f9 100%);

    --primary_font_regular: 'Calibre Regular', Arial, sans-serif;
    --primary_font_medium: 'Calibre Medium', Arial, sans-serif;
    --primary_font_bold: 'Calibre Bold', Arial, sans-serif;
    --secondary_font_regular: 'Heebo Regular', sans-serif;
    --secondary_font_medium: 'Heebo Medium', sans-serif;
    --secondary_font_bold: 'Heebo Bold', sans-serif;
    --tertiary_font: 'Mathanifo Script', cursive;

    --button_transition: all 0.3s ease;
}

